<%- model_class = Page -%>
<%= content_for :page_header do %>
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
<% end %>
<%= render :partial => 'form' %>
