<%- model_class = Event -%>
<%= content_for :page_header do %>
  <h1><%=t '.title', :default => ['Nova Coluna Social'], :model => model_class.model_name.human.titleize %></h1>
<% end %>
<%= render :partial => 'form' %>
